
	<div class="role-slider-card">
		<div class="owl-carousel role-carousel">
			<div class="item">
				<h3 class="title">Mentor</h3>
				<img src="assets/images/mentor.png" width="150"/>
				<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<button class="btn primary-color-outline">Learn-More</button>
			</div>
			<div class="item">
				<h3 class="title">Student</h3>
				<img src="assets/images/student.png" width="150"/>
				<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<button class="btn primary-color-outline">Learn-More</button>
			</div>
		</div>
	</div>
