<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark home-nav" id="home-nav">
	<div class="container">
		<a class="navbar-brand" href="#">Mentor Me</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#generic-navbar" aria-controls="#generic-navbar" aria-expanded="false" aria-lable="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="generic-navbar">
			<ul class="navbar-nav mr-auto mt-2 mt-md-0">
				<li class="nav-item">
					<a class="nav-link" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#signupsec">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#work-flow">How it Works</a>
				</li>
			</ul>
			<app-login></app-login>
		</div>
	</div>
</nav>