<table cellpaddingn= "0" cellspacing="0" width="100%" style="margin:0px; background-color: #f5f6f9; padding: 25px; font-family: 'Helvetica Neue','Open Sans',Helvetica,Arial,sans-serif">
    <thead>
       <tr>
          <th style="background-color:#343a40; padding: 25px;">
             <a href="#" style="text-decoration: none;">
                <h2 style="color:#fff; margin:0px">MentorMe</h2>
             </a>
          </th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td style="background-color: #fff; padding: 30px">
             <h2 style="text-align:center; color:#606060; line-height: 52px; font-size: 33px; font-weight:600; margin: 0px;">Just one more step..</h2>
          </td>
       </tr>
       <tr>
          <td style="background-color: #fff; padding: 20px;">
             <h2 style="text-align:center; color:#606060; line-height: 22px; font-size: 22px;">{{firstName}}&nbsp;{{lastName}}</h2>
          </td>
       </tr>
       <tr>
          <td style="background-color: #fff; padding: 20px">
             <p style="text-align:center; color:#606060; line-height: 22px; font-size: 16px; margin: 0px">Click the button below to activate your MentorMe account.</p>
          </td>
       </tr>
       <tr>
          <td style="background-color: #fff; text-align:center; padding-top: 30px; padding-bottom:30px">
             <a href="http://localhost:3000/api/verifyEmail/{{email}}" style="background-color: #4fb8ab; border-top: 20px solid #4fb8ab; border-right: 20px solid #4fb8ab; border-bottom: 20px solid #4fb8ab; border-left: 20px solid #4fb8ab; border-radius: 3px; color: #ffffff; display: inline-block; font-size: 16px; font-weight: 600; letter-spacing: .3px; text-decoration: none;">Activate Account</a>
          </td>
       </tr>
    </tbody>
    <tfoot>
       <tr>
          <td style="padding: 20px">
             <p style="text-align:center; color:#606060; font-size:12px; line-height:12px; padding-top:20px; margin:0px;">&copy;2017 MentorMe, All Rights Reserved.</p>
             <p style="text-align:center; color:#606060; font-size:12px; line-height:12px; margin:0px; padding-top: 10px">
                Iworkz, The Tech Experts
             </p>
          </td>
       </tr>
    </tfoot>
 </table>