<section class="work-flow" id="work-flow">
	<div class="container">
		<h2 class="section-heading">How It Works</h2>
		<div class="flow-card-wrap">
			<div class="row flow-card odd">
				<div class="col-sm-4 text-center text-sm-left">
					<img src="/assets/images/how-1.png" class="fluid">
				</div>
				<div class="col-sm-8 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
						labore aliquam quisquam consequuntur quae dolores ratione, assumenda.</p>
				</div>
			</div>
			<div class="row flow-card  even">
				<div class="col-sm-4 order-sm-12 text-center text-sm-right">
					<img src="/assets/images/how-2.png" class="fluid">
				</div>
				<div class="col-sm-8 order-sm-1 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
					   labore aliquam quisquam consequuntur quae dolores ratione, assumenda.</p>
				</div>   
			</div>
			<div class="row flow-card odd">
				<div class="col-sm-4 text-center text-sm-left">
					<img src="/assets/images/how-3.png" class="fluid">
				</div>
				<div class="col-sm-8 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
					   labore aliquam quisquam consequuntur quae dolores ratione, assumenda.
					</p>
				</div>
			</div>
			<div class="row flow-card  even">
				<div class="col-sm-4 order-sm-12 text-center text-sm-right">
					<img src="/assets/images/how-4.png" class="fluid">
				</div>
				<div class="col-sm-8 order-sm-1 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
					   labore aliquam quisquam consequuntur quae dolores ratione, assumenda.
					</p>
				</div>
			</div>
			<div class="row flow-card odd">
				<div class="col-sm-4 text-center text-sm-left">
					<img src="/assets/images/how-5.png" class="fluid">
				</div>
				<div class="col-sm-8 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
					   labore aliquam quisquam consequuntur quae dolores ratione, assumenda.</p>
				</div>
			</div>
			<div class="row flow-card  even">
				<div class="col-sm-4 order-sm-12 text-center text-sm-right">
					<img src="/assets/images/how-6.png" class="fluid">
				</div>
				<div class="col-sm-8 order-sm-1 text-center text-sm-left">
					<h2>post your project</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi vero quaerat accusamus 
					   labore aliquam quisquam consequuntur quae dolores ratione, assumenda.</p>
				</div>
									
			</div>
		</div>
	</div>
</section>