.home-nav.navbar{
	background: $secondary-color;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	min-height: $nav-height;

	button.btn{
		background-color: $primary-color;
		border-color: $primary-color;
	}	
}