<header class="chat-box-header">
  <div class="row no-gutters">
    <div class="user-name-wrap col-lg-9 col-7">
      <h2 class="user-name">{{selectedUserName}}</h2>
      <span class="live-status">Active Now</span>
    </div>
    <div class="icon-tray text-right col-lg-3 col-5">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <i class="fa fa-ellipsis-v" aria-hidden="true" (click)="deleteChat()"></i>
    </div>
  </div>
</header>