<section class="confirm-landing">
  <div class="confirm-landing__container">
    <h2>Almost There…</h2>
    <div class="confirm-langing__img">
      <img src = "/assets/images/envelope.png" width="120" class="envelope-icon">
    </div>
    <p>Please verify your email address. We’ve sent a confirmation email to:</p>
    <span class="confirm-landing__uname">Ramiah Viknesh</span>
    <p>Click the confirmation link in that email to begin using MentorMe.</p>
    <p>Didn’t receive the email? Check your Spam folder, it may have been caught by a filter. If you still don’t see it, you can <a href="#">resend the confirmation email.</a></p>
    <p>Wrong email address? <a href="" (click)="resendMail()">Change it.</a></p>
  </div>
</section>