<div class="chat-input-wrapper">
  <div class="row no-gutters">
    <div class="col-md-2 col-3 icon-tray">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <i class="fa fa-paperclip" aria-hidden="true"></i>
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
    <div class="col-md-9 col-7">
      <input type="text"  placeholder="Type Something" class="chat-input" [(ngModel)]="messageToBeSent" (change)="sendMessage()">
    </div>
    <div class="col-md-1 col-2 text-center icon-tray">
      <i class="fa fa-paper-plane send" aria-hidden="true"></i>
    </div>
  </div> 
</div>