$primary-color: #01b7ab;
$secondary-color: #343a40;
$nav-height: 60px;
$showcse-height: calc(100% - #{$nav-height});
$chat-header-height: 72px;
$chat-list-searchbar-height: 70px; 
$chat-input-wrapper: 65px;